.blackbg {
    background-color: black;
}

.borde {
    margin: auto;
    margin-top: 220px;
    width: 440px;
    height: 190px;
    padding: 30px;
}

.texto {
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: royalblue;
}

.grupodivs {
    margin-left: 150px;
}

.bloque {
    background-color: royalblue;
    opacity: 0%;
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    margin: 5px;
}

.fxdes1 {
    animation-name: desaparece;
    animation-duration: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.fxdes2 {
    animation-name: desaparece;
    animation-duration: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

.fxdes3 {
    animation-name: desaparece;
    animation-duration: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}

@keyframes desaparece {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@keyframes estatica {
    from {color: royalblue;}
    to {color: rgb(14, 46, 144);}
}
